/*
 * @Author: Emma Forslund - emfo2102 
 * @Date: 2022-06-07 02:10:08 
 * @Last Modified by: Emma Forslund - emfo2102
 * @Last Modified time: 2022-06-07 02:17:08
 */


* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    margin: 0;
}

main {
    margin-top: 7rem;
}

body {
    background-color: $c-main;
}

h1 {
    font-size: 5.5rem;
    text-align: center;
    font-family: $big-heading;
    color: $c-main;
}

h2 {
    font-size: 3rem;
    font-family: $heading-family;
    font-weight: bold;
    color: $c-main;
}

h3 {
    font-size: 2.8rem;
    font-family: $font-family;
    color: $c-complement;
}

h4 {
    font-size: 2rem;
    font-family: $heading-family;
    color: $c-main;
}

header {
    background-color: $c-dark;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 1rem;
    box-shadow: $shadow;
}


nav {
    margin: 0 auto;

    a {
        color: $c-light;
        font-size: 2.2rem;
        text-decoration: none;
        font-family: $font-family;
    }
}

// Gömmer hamburger-menyn för desktop
.hamburger-menu {
    display: none;
}

a:hover {
    @extend .hoverbold;
}

.desktop-nav ul {
    position: absolute;
    top: 2.5rem;
    right: 2%;
}

nav {
    li {
        display: inline;
        margin: 2rem;
    }
}

p,
label,
li {
    font-size: 2rem;
    font-family: $font-family;
}

form {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 4rem;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 2rem;
}

a {
    font-family: $font-family;
    text-decoration: none;
    color: $c-dark;
}

//Input-fält
input[type=text],
input[type=email],
input[type=number],
textarea {
    max-width: 600px;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 3rem;
}

input[type=time],
input[type=date] {
    max-width: 200px;
    padding: 2rem;
    width: 100%;
}

input[type=submit] {
    background-color: $c-complement;
    border: none;
    box-shadow: $shadow;
    padding: 1rem;
    color: white;
    font-family: $font-family;
    font-size: 1.8rem;
    cursor: pointer;
}

input[type=submit]:hover {
    font-weight: bold;
}

//felmeddelanden
span {
    font-size: 1.6rem;
    color: rgb(178, 5, 5);
    font-weight: bold;
    font-family: $heading-family;
    margin-bottom: 0.5rem;
}

//Asterisk
.required {
    font-size: 2rem;
}

.description-p {
    margin-bottom: 5rem;
}


select {
    max-width: 200px;
    padding: 2rem;
}

#quantity-div {
    max-width: 200px;
    width: 100%;
    margin: 5rem auto;
}


#approve {
    @extend .hoverbold;
}

.hero-text {
    width: 100%;

    h1 {
        color: $c-light;
    }

    a {
        @extend .li-btn;
        font-size: 4rem;
    }
}

#textarea {
    margin-top: 5rem;
}

form i {
    font-size: 1.7rem;
    color: white;
}

#msg-output {
    text-align: center;

    p {
        font-size: 2.5rem;
        font-weight: bold;
    }
}

//Startsidan med stor bild och text
.hero-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero {
    text-align: center;
    color: white;

    img {
        width: 100%;
    }
}

.index-dinner {
    h2 {
        text-align: center;
        color: $c-light;
    }
}

footer {
    text-align: center;
    background-color: $c-dark;
    color: $c-light;
    padding: 2rem;
    margin-top: 1rem;
}


//Meny-sidan
#starter,
#maincourse,
#dessert {
    @extend %menubox;
}

@media only screen and (max-width: 800px) {
    .flex-menu {
        display: block;
        margin: auto;

        div {
            margin: auto;
        }
    }

    main {
        margin-top: 8rem;
    }

    %menubox {
        max-width: 800px;
        width: 100%;
    }

    .hero-text {
        width: 100%;
        top: 25%;

        h1 {
            font-size: 3.3rem;
        }

        a {
            font-size: 2.5rem;
            padding: 0.5rem 1rem;
            background-color: $c-light  !important;
        }
    }

    //gömmer desktop-menyn
    .desktop-nav {
        display: none;
    }

    //Visar hamburger-menyn
    .hamburger-menu {
        display: block;
        background-color: transparent;
        position: relative;
        top: 0;
        right: 0;
        z-index: 2;
        overflow: hidden;
    }

    .hamburger-icon {
        background-color: transparent;
        border: none;
        font-size: 3rem;
        cursor: pointer;
        display: block;
        color: $c-light;
        position: absolute;
        right: 2rem;
        top: 2rem;
    }

    .nav-ul {
        display: none;
        padding-left: 0;
        list-style-type: none;
        width: 100vw;
        height: 80vh;
        position: relative;
        top: 2rem;
    }


    .nav-ul li {
        border-bottom: 2px solid $c-light;
        padding: 6%;
        text-align: center;
        display: block;

        a {
            font-size: 3rem;
        }

    }

    /*Länkarna när dom syns*/
    .nav-ul.show {
        display: block;
        background-color: $c-dark;
    }

    .li-btn {
        background-color: $c-dark;

        a {
            color: $c-light;
        }
    }

    #form-bookings {
        padding: 2rem;
    }
}